<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
<%= search_form_for @p, url: search_items_path do |f| %>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <div class="search-form">
      <%# 商品名で検索 %>
      <%= f.search_field :name_cont, class: 'input-box', placeholder: 'キーワードから探す' %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </div>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li class="category-list">
        <%= f.label :category_id_eq, '■カテゴリー' %>
        <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id , :name ,include_blank: '---' %>
        <%= f.label :sales_status_id_in, ' ■商品の状態', id: "sales_status_la" %>
        <%= f.label :price_lteq, ' ■価格', id: "price_la" %>
      </li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <%# ログインしているときは以下を表示する %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname"  %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %></li>
      <% else %>
        <%# ログインしてないときは以下を表示する %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
  <div class='nav'>
    <ul>
      <li class="brand-list hidden" id="sales_status" >
        <%= f.label :sales_status_id_in, '商品の状態：' %><br>
        <%= f.collection_check_boxes :sales_status_id_in, SalesStatus.where.not(id: 0), :id, :name %>
      </li>
    </ul>
  </div>
    <div class='nav'>
    <ul>
      <li class="brand-list hidden" id="price">
        <%= f.label :price_lteq, '価格：' %><br>
        <%= f.radio_button :price_lteq, ''%>
        <%= f.label 'price_lteq_', '指定なし' %>
        <%= f.radio_button :price_lteq, '1000' %>
        <%= f.label 'price_lteq_1000', '１０００円以下' %>
        <%= f.radio_button :price_lteq, '10000' %>
        <%= f.label 'price_lteq_10000', '１万円以下' %>
        <%= f.radio_button :price_lteq, '100000' %>
        <%= f.label 'price_lteq_100000', '１０万円以下' %>
      </li>
    </ul>
  </div>
<% end %>
</header>